.card{
    height: 40%;
    width: 20%;
    padding: 16px 32px;
    border-radius: 1rem;
}

.top{
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.top h2{
    font-size: 64px;
    color: #fff;
}

.card__img{
    width: 32px;
    height: 32px;
}